.about {
    background-color: $color-gray-light;
    overflow: hidden;

    &__container {
        display: grid;
        max-width: $ul;
        margin: 0 auto;
        padding: 97px 20px 67px;
        grid-template-areas: "al al al ar";
        grid-template-columns: 1fr 1fr 1fr 302px;
        grid-gap: 59px;

        @include md-sm {
            padding: 36px 20px 18px;
        }

        @include sm {
            grid-template-areas:
             "al"
             "ar";
            grid-template-columns: 1fr;
            grid-gap: 0;
            padding: 57px 20px 68px;
        }
    }
}

.about-left {
    grid-area: al;
    min-height: 492px;

    @include sm {
        margin-bottom: 39px;
        min-height: auto;

    }
    &__title {
        @include heading;

        @include md-sm {
            font-size: 1.5rem;
        }

        @include sm {
            text-align: center;
            font-size: 1.5rem;
        }
    }

    &__text {
        @include heading;
        margin-bottom: 49px;

        @include md-sm {
            font-size: 1.5rem;
        }

        @include sm {
            text-align: center;
            font-size: 1.5rem;
        }
    }

    &__paragraph {
        max-width: 970px;
        position: relative;
        letter-spacing: 0.9px;
        font-size: 1.125rem;
        font-family: $font-main;
        margin: 0 0 25px;
        max-width: 970px;

        @include lg-md {
            margin-top: 34px;
        }

        @include md-sm {
            margin-top: 25px;
            font-size: 1rem;
        }

        @include sm {
            font-size: 1rem;
            letter-spacing: 0.8px;
        }

        &:nth-of-type(3) {
            @include md-sm {
                display: none;
            }

            @include sm {
                margin-bottom: 0;
            }
        }

        &:nth-of-type(4) {
            @include md-sm {
                display: none;
            }

            @include sm {
                display: none;
            }
        }
    }

    &__item {
        display: block;
        position: absolute;
        width: 1px;
        height: 201px;
        top: -4px;
        right: -28px;
        border-left: 1px solid rgba(112,112,112,0.27);

        @include sm {
            display: none;
        }
    }
}

.about-right {
    grid-area: ar;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}