.posts {
    background-color: $color-light;
    padding-bottom: 101px;

    @include md-sm {
        padding-bottom: 60px;
    }

    @include sm {
        padding-bottom: 60px;
    }

    &__container {
        max-width: $ul;
        margin: 0 auto;
        padding: 0 20px;        
    }

    &__title {
        font-size: 2.5rem;
        margin-top: 99px;
        margin-bottom: 54px;
        font-family: $font-header;
        color: $color-main;
        letter-spacing: 4px;
        font-weight: 700;

        @include sm {
            text-align: center;
            margin-top: 57px;
            margin-bottom: 20px;
            font-size: 1.5rem;
        }
    }

    &__buttons {
        text-align: center;
        margin-top: 20px;
    }

    &__text {
        font-family: $font-main;
        font-size: 1.125rem;
        margin: 0;
        display: inline-block;
        padding: 19px 95px 19px 98px;
        border: 2px solid $color-main;
        color: $color-light;
        background-color: rgba(45, 54, 81, 0.8);
        letter-spacing: 1.8px;
        font-weight: 400;
        transition: background-color 0.5s;

        @include sm {
            width: 100%;
        }

        &:hover {
            background-color: $color-accent;
        }
    }

}

.post-items {
    display: grid;
    grid-template-areas: 
        "ar1 ar1 ar2 ar3" 
        "ar4 ar5 ar6 ar6"; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, minmax(550px, max-content));
    grid-gap: $gap;

    @include lg-md {
        grid-template-areas:
         "ar1 ar1 ar2"
         "ar3 ar4 ar4"
         "ar5 ar5 ar6";
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, minmax(550px, max-content));
    }

    @include md-sm {
        grid-template-areas: 
         "ar1 ar2"
         "ar3 ar4"
         "ar5 ar6";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, minmax(550px, max-content));
    }

    @include sm {
        grid-template-areas:
         "ar1"
         "ar2"
         "ar3"
         "ar4"
         "ar5"
         "ar6";
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, minmax(550px, max-content));
        text-align: center;
    }

    &__title {
        font-family: $font-header;
        font-size: 1.125rem;
        font-weight: 700;
        color: $color-gray;
        margin: 45px 0 17px;
        transition: color 0.5s;
        padding-left: 10px;
        padding-right: 10px;
    }

    &__paragraph {
        font-family: $font-main;
        font-size: 1rem;
        font-weight: 400;
        padding-left: 10px;
        padding-right: 10px;
        transition: color 0.5s;
    }

    &__image {
        width: 100%;
        height: 300px;
        transition: transform 0.5s;
    }

    &__frame {
        overflow: hidden;
        height: 300px;
    }

    &__item {
        text-align: center;
        background-color: $color-gray-light;
        overflow: hidden;
        transition: background-color 0.5s;

        &:hover {
            background-color: #d8d8d8;
        }

        &:hover .post-items__image {
            transform: scale(1.1);
        }

        &:hover .post-items__title {
            color: $color-main;
        }

        &:hover .post-items__paragraph{
            color: $color-main;
        }
    }


    &__item:nth-of-type(1) {
        grid-area: ar1;
    }

    &__item:nth-of-type(2) {
        grid-area: ar2;
    }

    &__item:nth-of-type(3) {
        grid-area: ar3;
    }

    &__item:nth-of-type(4) {
        grid-area: ar4;
    }

    &__item:nth-of-type(5) {
        grid-area: ar5;
    }

    &__item:nth-of-type(6) {
        grid-area: ar6;
    }
}