.header-navbar {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: end;
  letter-spacing: 0.1em;

  &__hamburger {
    width: 30px;
    height: 22.5px;
    position: relative;
    margin: $gap 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;

    @include md-min {
      display: none;
    }

    span {
      display: block;
      position: absolute;
      height: 3px;
      width: 100%;
      background: $color-light;
      border-radius: 3px;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      transition: 0.25s ease-in-out;

      &:nth-child(1) {
        top: 0px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        top: 9px;
      }

      &:nth-child(4) {
        top: 18px;
      }
    }

    &.active span {
      &:nth-child(1) {
        top: 9px;
        width: 0%;
        left: 50%;
      }

      &:nth-child(2) {
        transform: rotate(45deg);
      }

      &:nth-child(3) {
        transform: rotate(-45deg);
      }

      &:nth-child(4) {
        top: 9px;
        width: 0%;
        left: 50%;
      }
    }
  }

  &__list {
    list-style: none;
    margin: 0 -20px 0 0;
    padding: 0;

    @include md-min {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
      justify-content: end;
      width: 100%;
    }

    @include md {
      display: none;
      position: absolute;
      background-color: rgba($color-gray-dark, 0.9);
      top: 100%;
      right: $gap;
      text-align: right;
    }

    &.active {
      display: block;
    }
  }

  &__link {
    display: block;
    padding: 20px;
    font-size: 1.125rem;
    transition: color 0.5s;

    &:hover,
    &:focus {
      color: #d66926;
    }
  }
}
