.header-menu {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;

  @include md {
    background-color: rgba($color-gray-dark, 0.25);
  }

  &__container {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 1340px;
    margin: auto;
    padding-left: $gap;
    padding-right: $gap;
  }
}
